{% extends 'base.html' %}
{% load static %}

{% block content %}


 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                  <a href="/ " class="btn btn-outline-primary my-1 mx-2">Go Back To Home </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                  
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav mr-auto">
                      
                      
                      </ul>
                      <form class="form-inline my-2 my-lg-0">
                       <!-- <input class="form-control mr-sm-2" type="login" placeholder="login" aria-label="login">-->
                       
       <!--<input class="form-control mr-sm-2" type="Register" placeholder="Register" aria-label="Register">-->
   
                         <!--<input class="form-control mr-sm-2" type="register" placeholder="register" aria-label="register">-->
                        
                      </form>
                      <form class="form-inline my-2 my-lg-0">
                    </div>
                  </nav>
<div class="container-fluid px-0">

    <img src="{% static 'dist/img/contact.jpg' %}" class="d-block w-100 mx-0" alt="..." height=450px width=10px>
</div>
<div class="container">
    <h1 class="text-center my-3 display-2">
        <b>Contact Us</b>
    </h1>
<form action="/contact" method="post">
{% csrf_token %}
    <div class="mb-3 py-2">
  <label for="exampleFormControlInput1" class="form-label"><b>Name</b></label>
  <input type="name" class="form-control" id="exampleFormControlInput1" name = "name" placeholder="Enter your Name">
</div>
        <div class="mb-3 py-2">
            <label for="exampleFormControlInput1" class="form-label"><b>Email id</b></label>
  <input type="email" class="form-control" id="exampleFormControlInpu2"name = "email" placeholder="Enter your Email">
</div>
        <div class="mb-3 py-2">
            <label for="exampleFormControlInput1" class="form-label"><b>Phone number</b></label>
  <input type="number" class="form-control" id="exampleFormControlInput3"  name = "phone" placeholder="Enter your Phone number">
</div>
<div class="mb-3 py-2">
    <label for="exampleFormControlTextarea1" class="form-label"><b>How can we help you ??</b></label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="7" name = "desc"></textarea>
</div>

     <button type="submit" class="btn btn-primary btn-lg ">Submit</button>
        </form>
</div>



{% endblock content%}